/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/

.section-vousden-partners {
  padding-top: 60px;
  margin-top: 60px;
  background: #fff;

  .vousden-partners {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex-wrap: wrap;
    height: auto;

    @include breakpoint(md) {
      flex-direction: row;
    }
    
    .vousden-partners-img img {
      max-width: 100%;
      display: block;
      height: 75px;
      padding-right: 1rem;
      margin-bottom:50px;
    }
  }
}

.section-footer {
  padding-top: 60px;
  // margin-top: 60px;
  background: $color-b;
  ul {
    line-height: 2;
  }

  .item-list-a {
    i {
      font-size: 18px;
      padding-right: 4px;
      color: $color-a;
    }

    a:hover {
      color: #fff;
    }
  }

  .widget-a {
    .w-title-a {
      margin-bottom: 1rem;
    }
  }
}

footer {
  background: $color-b;
  text-align: center;
  padding: 30px 0;

  a:hover {
    color: #fff;
  }
  .copyright-footer {
    border-top: 1px solid #ddd;
    padding-top: 20px;
  }

  .credits {
    font-size: 14px;
  }
}
